<!-- gamequiz.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Quiz</title>
    <link rel="stylesheet" href="{% static 'gamequiz.css' %}">
</head>
<body>
<!-- W pliku gamequiz.html -->
<h1>Welcome to the Game Quiz!</h1>
<p>Game Code: {{ game_code }}</p>
<p>Nickname: {{ nickname }}</p>
<form method="post" action="{% url 'submit_answers' game_code=game_code nickname=nickname %}">
  {% csrf_token %}
{% for question in questions %}
  <div class="QuestionContainer">
    <p>Pytanie: {{ question.quiz_question }}</p>

    <label>
      <input type="radio" name="answer_{{ question.id }}" value="A" required>
      {{ question.quizanswer_set.first.answer_text_A }}
    </label><br>

    <label>
      <input type="radio" name="answer_{{ question.id }}" value="B" required>
      {{ question.quizanswer_set.first.answer_text_B }}
    </label><br>

    <label>
      <input type="radio" name="answer_{{ question.id }}" value="C" required>
      {{ question.quizanswer_set.first.answer_text_C }}
    </label><br>

    <label>
      <input type="radio" name="answer_{{ question.id }}" value="D" required>
      {{ question.quizanswer_set.first.answer_text_D }}
    </label><br>
  </div>
{% endfor %}
    <button id="submitAnswers">Submit Answers</button>
</form>


</body>
</html>

