<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'mainpage.js' %}"></script>
</head>

<body>
    <h1 id="animatedText">Witaj na stronie głównej!</h1>
    <div clas="buttons-container">
        <a href="/joingame"><button>Quiz</button></a>
        <a href="/QOD"><button>Odpowiedz albo wypij!</button></a>
        <a href="/DailyChineseProverb"><button>Chińskie przysłowie</button></a>
    </div>
</body>

</html>