{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Join Game</title>
    <link rel="stylesheet" href="{% static 'joingame.css' %}">
</head>
<body>
    {% if error_message %}
        <p style="color: black; font-size: 30px;">{{ error_message }}</p>
    {% endif %}
<h2>Join the Game</h2>
<div class="container">
<form method="post" action="{% url 'JoinGame' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Dołącz do gry</button>
</form>
    <a href="/create_game/"><button>Stwórz grę</button></a>
</div>
</body>
</html>