
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Question</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'qod.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'qod.js' %}"></script>
</head>
<body>
<div class="container">
    <div id="timer">20</div>
    <div id="questionCard">
    </div>
    <button class="AnswerButton" id="drinkButton">Piję</button>
    <button class="AnswerButton" id="answerButton">Odpowiadam</button>
    <button class="AnswerButton" id="Reload">Inne pytanie</button>
    <button id="changeColorButton">Zmień kolor</button>
    <a href="/"><button>Wróć na stronę główną</button></a>
</div>
</body>
</html>
