<!-- templates/game_play.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Play</title>
    <link rel="stylesheet" href="{% static 'waitingroom.css' %}">
</head>
<body>

    <h2>Rozgrywka</h2>
    <p>Witaj, {{ nickname }}! Dołączyłeś do gry o kodzie: {{ game_code }}</p>
    <div class="container">
        <ul>
            <!-- Dodaj poniżej elementy listy dla innych graczy -->
            {% for player in players %}
                <li>{{ player.nickname }}</li>
            {% endfor %}
        </ul>
    </div>

<a href="{% url 'start_game' game_code=game_code nickname=nickname %}">
    <button type="button" class="start-button">Rozpocznij Quiz</button>
</a>

    <a href="{% url 'leave_game' game_code=game_code nickname=nickname %}">
    <button type="button" class="start-button">Wyjdź z gry</button>
</a>



</body>
</html>