        body {
            background-color: #8a2be2; /* Fioletowe tło */
            color: white;
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            background-color: #ffffff;
            margin: 10px 0;
            padding: 15px;
            border-radius: 8px;
            font-size: 18px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }

        li:hover {
            background-color: #f2f2f2;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            color: black;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .start-button {
            background-color: #1b1e1b; /* Zielony kolor guzika */
            color: white;
            padding: 15px 20px;
            font-size: 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .start-button:hover {
            background-color: white;
            color: black;
        }